<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="logsFolderName" value="logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="proxyServiceAppender" class="ch.qos.logback.core.FileAppender">
        <file>${logsFolderName}/proxyService.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fibonacciServerAppender" class="ch.qos.logback.core.FileAppender">
        <file>${logsFolderName}/fibonacciServer.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="proxy.service" level="INFO" additivity="false">
        <appender-ref ref="proxyServiceAppender"/>
    </logger>

    <logger name="fibonacci.server" level="INFO" additivity="false">
        <appender-ref ref="fibonacciServerAppender"/>
    </logger>

    <logger name="io" level="ERROR" additivity="false"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>